name: README build
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 4 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Update README file
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          USER_NAME: ${{ secrets.USER_NAME }}
          BIRTHDAY: ${{ secrets.BIRTHDAY }}
          NODE_ID: ${{ secrets.NODE_ID }}
        run: uv run main.py

      - name: Commit
        run: |-
          git add .
          git diff
          git config --global user.email "github-actions-bot@ayushsehrawat.github.io"
          git config --global user.name "AyushSehrawat/GitHub-Actions-Bot"
          git commit -m "Updated README" -a || echo "No changes to commit"
          git push
